[Desktop Entry]
Name=JWM Session
Comment=Log in using the Joe's window manager
Exec=/usr/bin/jwm-session
TryExec=/usr/bin/jwm-session
Icon=jwm
Type=Application
